<!-- <div class="jumbotron" style="margin-bottom:20em;">
  <div class="row">
    <img dir="ltr" src="../../pic/yuda.png" class="proPic  col-lg-5 col-md-5 col-sm-5 col-xs-5">



    <div dir="rtl" class="col-lg-offset-5 col-md-offset-5 col-sm-offset-5 col-xs-offset-5">

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

        <h4>קצת עליי</h4>
        <p>


          אהלן ! אני יהודה בוגר תואר במתמטיקה ומדעי המחשב בהצטיינות ,אוהב מחשבים פופקורן ספרים וריצות .

        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h4>על האתר</h4>
        <p>


          את האתר בניתי תוך על מנת ללמוד להתעסק ב<span dir="ltr">java script \ css \ html</span> שפות שיצא לי רק לשמוע עליהן עד היום

        </p>
      </div>
      <div class="clearfix visible-sm"></div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <h4>על מטרתי</h4>
        <p>


          אוהב ללמוד - במהלך בניית האתר התנסתי ב <span dir="ltr">java script \ css \ html \ jQuery \ sass \ Bootstrap</span> כמו כן למדתי בעבר <span dir="ltr">c \ cpp \ java \ Spring \ SQL \ MySQL</span>

        </p>
      </div>
    </div>
  </div>
</div> -->