<nav #nav>
  <div class="back-circle back-circle-1"></div>


  <ul>
    <li class="link link-1" (click)="navTo(1)"><a href="#"><span dir="rtl">בית</span></a></li>
    <li class="link link-2" (click)="navTo(2)"><a href="#"><span dir="rtl">באר</span></a></li>

    <li class="link link-3" (click)="navTo(3)"><a href="#"><span dir="rtl">עליי</span></a></li>
  </ul>
  <div class="back-circle back-circle-2"></div>
  <div class="back-circle back-circle-3"></div>
  <div class="nav-btn" id="nav-btn" (click)="navClicked()">
    <div class="nav-bars">
      <div class="bar bar-1"></div>
      <div class="bar bar-2"></div>
      <div class="bar bar-3"></div>
    </div>

  </div>

</nav>